<section class="address">
    <div class="form">
        <div class="street">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Street</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="city">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>City</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        <div class="province">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Province</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        <div class="country">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Country</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        <div class="postalCode">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Postal Code</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        <div class="update-button mb-2">
            <button class="btn" mat-raised-button color="primary">Update Address</button>
        </div>
    </div>
</section>