<section class="address">
    <div class="form">
        <div class="street">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Street</mat-label>
                <input [(ngModel)]="user.address.street" matInput>
            </mat-form-field>
        </div>
        <div class="city">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>City</mat-label>
                <input [(ngModel)]="user.address.city" type="text" matInput>
            </mat-form-field>
        </div>
        <div class="province">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Province</mat-label>
                <input [(ngModel)]="user.address.province" type="text" matInput>
            </mat-form-field>
        </div>
        <div class="country">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Country</mat-label>
                <input [(ngModel)]="user.address.country" type="text" matInput>
            </mat-form-field>
        </div>
        <div class="postalCode">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Postal Code</mat-label>
                <input [(ngModel)]="user.address.postalCode" type="text" matInput>
            </mat-form-field>
        </div>
        <div class="update-button mb-2">
            <button (click)="updateAddress()" class="btn primary" mat-raised-button>Update Address</button>
        </div>
    </div>
</section>