<header>
    <h1> Box Details </h1>
</header>
<section *ngIf="box" class="row">
    <mat-card class="col-md-6">
        <mat-card-title>Box Details</mat-card-title>
        <mat-card-content>
            <div class="d-flex justify-content-between">
                <h6>Size</h6>
                <p>{{ box.size }} @ {{ box.price }}</p>
            </div>
            <div class="d-flex justify-content-between">
                <h6>Frequency</h6>
                <p>{{ box.frequency }}</p>
            </div>
            <div class="d-flex justify-content-between">
                <h6>Status</h6>
                <p>{{ box.status }}</p>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="col-md-6">
        <mat-card-title>Box Items</mat-card-title>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let item of box.items">
                    <mat-icon mat-list-icon>local_cafe</mat-icon>
                    <div mat-line>{{ item.name }} x {{ item.quantity }}</div>
                    <div mat-line> {{ item.roastery }} | {{ item.option.size }} {{ item.option.ground }} {{ item.option.price | currency:"R" }} </div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</section>