<div class="response">
    <div class="flex align-center">
        <mat-card class="response-content successful">
            <mat-card-title>
                <h1>Payment Cancelled</h1>
            </mat-card-title>
            <mat-card-content class="mt-3 mb-3">
                <p>
                    The payment has been cancelled! You can safely continue browsing.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button routerLink="/app/coffee" mat-raised-button class="btn primary"> Browse Shop </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>