<mat-toolbar>
    <button (click)="openMenu()" mat-icon-button class="example-icon" aria-label="menu-icon">
        <mat-icon>menu</mat-icon>
    </button>
    <h4 class="ms-3 logo"> Ground Roots </h4>
    <span class="navigation-spacer"></span>
    <input type="text" class="form-control" placeholder="Search">
    <span class="navigation-spacer"></span>
    <button (click)="openBox()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>shopping_bag</mat-icon>
    </button>
</mat-toolbar>