<div class="bottom-navigation-wrapper">
    <div class="bottom-navigation flex justify-content-between align-center">
        <div routerLink="/shop" class="navigation-icon mx-2 flex align-center">
            <mat-icon aria-hidden="false" aria-label="coffees">local_cafe</mat-icon>
        </div>
        <div routerLink="/me" class="navigation-icon mx-2 flex align-center">
            <mat-icon aria-hidden="false" aria-label="account">account_circle</mat-icon>
        </div>
        <div class="navigation-icon mx-2 flex align-center">
            <mat-icon aria-hidden="false" aria-label="boxes">inventory_2</mat-icon>
        </div>
    </div>
</div>