<div class="bottom-navigation-wrapper">
    <div class="bottom-navigation flex justify-content-between align-center">
        <a routerLink="/app/coffee" class="navigation-icon mx-2 flex align-center">
            <mat-icon aria-hidden="false" aria-label="coffees">local_cafe</mat-icon>
        </a>
        <a routerLink="/app/me/profile" class="navigation-icon mx-2 flex align-center">
            <mat-icon aria-hidden="false" aria-label="account">account_circle</mat-icon>
        </a>
        <a routerLink="/app/me/boxes" class="navigation-icon mx-2 flex align-center">
            <mat-icon aria-hidden="false" aria-label="boxes">inventory_2</mat-icon>
        </a>
    </div>
</div>