.bottom-navigation-wrapper {
    position: fixed;
    bottom: 2rem;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #6E7F71;
    margin: auto;
    padding: 1rem;
    border-radius: 30px;
    width: fit-content;
}

.navigation-icon {
    padding: 10px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    color: white;
}

.navigation-icon:hover {
    cursor: pointer;
    background-color: #7E8F7F;
    color: white;
}

@media screen and (max-width: 600px) {
   .bottom-navigation-wrapper {
        bottom: 0.5rem;
        padding: 8px;
    }
}