<div class="account-details-wrapper">
    <div class="account-details">
        <header class="mb-5">
            <h1><b>Account</b> Billy Anderson</h1>
            <div class="account-tabs mt-4 flex justify-content-between">
                <a routerLink="/app/me/profile" routerLinkActive="active" class="tab">
                    <p>Profile</p>
                    <div class="tab-dot"></div>
                </a>
                <a routerLink="/app/me/address" routerLinkActive="active" class="tab">
                    <p>Address</p>
                    <div class="tab-dot"></div>
                </a>
                <a routerLink="/app/me/boxes" routerLinkActive="active" class="tab">
                    <p>Boxes</p>
                    <div class="tab-dot"></div>
                </a>
            </div>
        </header>
        <router-outlet></router-outlet>
    </div>
</div>