<header>
    <h1> Coffee </h1>
</header>
<div>
    <div class="coffee-list flex">
        <app-coffee-item (click)="selectProduct('yeah')"></app-coffee-item>
        <app-coffee-item (click)="selectProduct('oh no')"></app-coffee-item>
        <app-coffee-item></app-coffee-item>
        <app-coffee-item></app-coffee-item>
        <app-coffee-item></app-coffee-item>
        <app-coffee-item></app-coffee-item>
        <app-coffee-item></app-coffee-item>
    </div>
</div>

<div>
    <app-coffee-details [product]="selectedProduct"></app-coffee-details>
</div>
