.cart-item {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    color: white;
}

.item-inner {
    border-radius: 15px;
    width: 100%;
    position: relative;
    background-color: var(--app-light-green);
    transition: 0.3s;
}

.cart-image {
    position: absolute;
    top: -30px;
    left: 30px;
    width: 70px;
    transition: 0.3s;
}

.cart-quantity {
    position: absolute;
    bottom: 10px;
    left: 40px;
    color: white;
    margin: 0;
    transition: 0.3s;
}

.cart-product {
    margin: 0;
    padding-top: 20px;
    line-height: 1;
    font-size: 22px;
    font-weight: bold;
}

.cart-supplier {
    margin: 0;
    padding-bottom: 20px;
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
}


.cart-item:hover {
    cursor: pointer;
}

.cart-item:hover .item-inner{
    width: 70%;
}
.cart-item:hover .cart-image {
    width: 50px;
    top: -15px;
}

.cart-item:hover .cart-quantity {
    bottom: 10px;
    left: 35px; 
    color: white;
    margin: 0;
}

.item-buttons {
    display: none;
    display: flex;
    width: 0%;
    transition: 0.3s;
}

.item-buttons .item-button {
    display: none;
    transition: 0.3s;
    text-align: center;
    padding-top: 17px;
}

.item-button .material-icons {
    padding: 0.5rem;
    background-color: var(--app-light-green);
    border-radius: 50%;
    margin-left: 5px;
    transition: 0.3s;
}

.item-button .material-icons:hover {
    background-color: var(--app-dark-green);
}


.cart-item:hover .item-buttons {
    width: 30%;
}

.cart-item:hover .item-buttons .item-button {
    display: block;
    animation-delay: 0.3s;
}
.cart-item:hover .item-buttons .item-button:first-child {
    animation-delay: 0.2s !important;
}
.cart-item:hover .item-buttons .item-button:last-child {
    animation-delay: 0.4s !important;
}

