<div [@openClose]="product ? 'open' : 'closed'" class="coffee-details-wrapper">
    <div *ngIf="product" class="coffee-details">
        <div class="flex align-center">
            <div class="coffee-details-img">
                <img class="mx-auto" src="../../../../assets/images/coffee/coffee.svg" alt="" width="100">
            </div>
            <div class="coffee-details-content">
                <div class="coffee-details-content-box">
                    <a (click)="product = undefined"> Back </a>
                    <h1> Coffee Details </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a vehicula odio, egestas placerat lorem. Donec vel
                        rhoncus sapien, id pellentesque metus. In eget libero a ligula aliquet blandit quis id velit
                    </p>
                    <div class="mb-3">
                        <h4 class="mb-1">Pre-Ground</h4>
                        <mat-slide-toggle>Yes please!</mat-slide-toggle>
                    </div>
                    <div class="mb-3">
                        <h4 class="mb-1">Size</h4>
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button class="mr-2" value="0.25">250g</mat-radio-button>
                            <mat-radio-button value="1">1kg</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <h2> R 65 </h2>
                    <div>
                        <button mat-raised-button color="primary">Add To Box</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>