<div class="container">
    <div class="login p-5">
        <h1> 👋 Welcome back <span *ngIf="user.firstName"> {{ user.firstName }} {{ user.lastName }} </span> ! </h1>
        <p> Please login to the app. </p>
        <div *ngIf="!user.firstName" class="form">
            <div class="form-group mt-2">
                <label for="email"> ✉️ Email Address </label>
                <input [(ngModel)]="user.email" type="text" class="form-control" name="email" id="email">
            </div>
            <div class="form-group mt-2">
                <label for="password"> 🔒 Password </label>
                <input [(ngModel)]="user.password" type="password" class="form-control" name="password" id="password">
            </div>
            <div class="d-flex flex-row justify-content-between">
                <button (click)="login()" class="btn btn-primary mt-2"> ⚡️ Login </button>
                <button (click)="loginWithGoogle()" class="btn btn-primary mt-2"> 🔥 Google </button>
            </div>
            <div class="hint mt-2"> 👉 <a routerLink="/register"> Register here ... </a></div>
        </div>
    </div>
</div>