.cart {
    width: 100%;
    height: 500px;
    background-color: var(--app-dark-green);
    border-radius: 30px 30px 30px 30px;
    transition: ease-in-out 0.3s;
}


#cart-inner {
    position: relative;
    height: 500px;
}

#cart-header {
    width: 100%;
    height: 150px;
    background-color: var(--app-light-green);
    border-radius: 30px 30px 30px 30px;
}


.header-content {
    position: relative;
    bottom: -50px;
    left: 30px;
    color: white;
}

.header-content h3 {
    font-family: var(--app-primary-font);
    font-size: 38px;
}

.header-content p {
    font-family: var(--app-primary-font);
}

#cart-footer {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

.cart-body {
    height: 320px;
    overflow-y: scroll
}

.checkout-form {
    padding: 3rem;
}

.btn-primary {
    background-color: var(--app-brown) !important;
    border-color: var(--app-brown) !important;
    border-radius: 30px;
    padding: 0.5rem 2rem;
}

.btn-primary:hover {
    background-color: var(--app-brown) !important;
    border-color: var(--app-brown) !important;
    box-shadow: 2px 2px black;
}