<div class="response">
    <div class="flex align-center">
        <mat-card class="response-content successful">
            <mat-card-title>
                <h1>Box Successfully Subscribed! </h1>
            </mat-card-title>
            <mat-card-content class="mt-3 mb-3">
                <p>
                    Your new subscription has been successfully created! You can view your subscriptions on your account
                    or
                    contact us
                    if you have any questions.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button routerLink="/me/boxes" mat-raised-button class="btn primary"> View Boxes </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>