<div class="cart-item d-flex flex-row ">
    <div class="item-inner">
        <div class="row">
            <div class="col-md-3">
                <img class="cart-image" src="assets/images/products/cookies.svg" alt="">
                <p class="cart-quantity">Qty: 5</p>
            </div>
            <div class="col-md-9">
                <h3 class="cart-product">Cinnamon Rolls</h3>
                <h5 class="cart-supplier">Ground Roots</h5>

            </div>
        </div>
    </div>
    <div class="item-buttons d-flex flex-row">
        <div class="item-button animate__animated animate__fadeIn">
            <span class="material-icons">
                remove
            </span>
        </div>
        <div class="item-button animate__animated animate__fadeIn">
            <span class="material-icons">
                add
            </span>
        </div>
        <div class="item-button animate__animated animate__fadeIn">
            <span class="material-icons">
                clear
            </span>
        </div>
    </div>
</div>