.navbar-icon {
    background-color: var(--app-brown);
    padding: 10px 8px;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
}

.navbar-icon:hover {
    background-color: var(--app-brown-hover);
    cursor: pointer;
}

.material-icons {
    vertical-align: -5px;
}