<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" width="30" alt="" loading="lazy">
    </a>
    <div class="float-right">
        <a class="navbar-icon" href="#">
            <i class="material-icons">
                sort
            </i>
        </a>
        <a (click)="toggleCart()" class="navbar-icon ml-2">
            <span class="material-icons">
                shopping_bag
            </span>
        </a>
    </div>
</nav>