
section {
    padding-top: 1rem;
}

.box-selected-address p {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {

    h4 {
        font-size: 18px;
    }

    .box-items-wrapper {
        display: none;
    }
}