<header>
    <h1> Customer Details </h1>
</header>
<section class="row">
    <div class="col-md-6">
        <mat-card>
            <mat-card-title>Personal Details</mat-card-title>
            <mat-card-content *ngIf="customer">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput [(ngModel)]="customer.firstName" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput [(ngModel)]="customer.lastName" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="customer.email" required readonly>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Cellphone</mat-label>
                    <input matInput [(ngModel)]="customer.cellphone" required>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="confirmDetailsUpdate()" mat-raised-button color="primary">Update</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card *ngIf="customer">
            <mat-tab-group>
                <mat-tab label="Address">
                    <mat-card-content *ngIf="customer.address">
                        <mat-form-field>
                            <mat-label>Street</mat-label>
                            <input matInput [(ngModel)]="customer.address.street" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>City</mat-label>
                            <input matInput [(ngModel)]="customer.address.city" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Province</mat-label>
                            <input matInput [(ngModel)]="customer.address.province" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Postal Code</mat-label>
                            <input matInput [(ngModel)]="customer.address.postalCode" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Country</mat-label>
                            <input matInput [(ngModel)]="customer.address.country" required>
                        </mat-form-field>
                        <mat-card-actions>
                            <button (click)="confirmAddressUpdate()" mat-raised-button color="primary">Update</button>
                        </mat-card-actions>
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="Boxes">
                    <mat-card-content *ngIf="boxes.length > 0">
                        <mat-list role="list">
                            <mat-list-item routerLink="/admin/box/{{box.id}}" *ngFor="let box of boxes">
                                <mat-icon mat-list-icon>inventory_2</mat-icon>
                                <div mat-line>{{ box.size }}</div>
                                <div mat-line> {{ box.price }} / Items: {{ box.items.length }} </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="Orders"> Orders </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</section>