
.box-item {
    position: relative;
    margin-bottom: 45px;
        color: white;
}

.box-item img {
    position: absolute;
    width: 65px;
    top: -30px;
    left: 5px;
}

.box-item-content {
    margin-left: 50px;
}

.box-item-details {
    width: 70%;
    background-color: var(--dark-green);
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    padding: 15px 30px;

}

.box-item-details h4,
.box-item-details p {
    margin-bottom: 0 !important;
}

.box-item-actions {
    width: 30%;
    transition: 1s;
}

.box-item-action {
    opacity: 100;
    transition: 0.2s;
    align-items: center;
    background-color: var(--dark-green);
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-left: 10px !important;
    align-items: center;
    display: flex;
}

.box-item-action mat-icon {
    margin: auto;
}

.box-item:hover {
    cursor: pointer;
}


.box-item-action:hover {
    background-color: var(--light-green);
}


@media screen and (max-width: 1300px) {
    .box-item:hover .box-item-details h4 {
        font-size: 18px;
    }
    .box-item:hover .box-item-details p {
        font-size: 12px;
    }
    .box-item:hover .box-item-details {
        height: 84px;
    }
}