#product-details {
    position: fixed;
    z-index: 100;
    background-color: var(--app-dark-green);
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 30px 30px 0px 0px;
    transition: 0.3s ease-in-out;
}

#product-details.show {
    top: 20%;
}

.product-details-content {
    height: 100%;
    padding: 2rem;
    padding-top: 8rem;
    color: white;
}

.item-buttons .item-button {
    transition: 0.3s;
    text-align: center;
    padding-top: 17px;
}
.item-buttons .item-button:hover {
    cursor: pointer;
}

.item-button span {
    padding: 0.5rem;
    background-color: var(--app-light-green);
    border-radius: 50%;
    margin-left: 5px;
    transition: 0.3s;
}

.item-button span:first {
    margin: 0;
}

.item-button span.quantity {
    font-size: 20px;
    padding: 0.5rem 1rem;
}

.item-button span:hover {
    background-color: var(--app-dark-green);
}

.quantity {
    line-height: 4.5;
    margin-right: 10px;
}