/* You can add global styles to this file, and also import other style files */

:root {
    --light-brown: #EFEDE3;
    --dark-brown: #BD9F79;
    --light-green: #7E8F7F;
    --dark-green: #6E7F71; 
    --light-gray: #F0F0F0;
    --dark-gray: #959595;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


h1 {
    font-size: 42px;
    font-family: 'Baloo Tammudu 2', cursive;
}

h2 {
    font-size: 36px;
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
}

h4 {
    font-size: 24px;
    font-family: 'Courier Prime', monospace;
}
p, a {
    font-family: 'Baloo Tammudu 2', cursive;
}

p.courier {
    font-family: 'Courier Prime', monospace;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color: inherit;
}
a:hover span {
    transform: translateX("5px") !important;
}

.bg-primary {
    background-color: var(--light-brown) !important;
}

.bg-secondary {
    background-color: var(--dark-green) !important;
}

.bg-accent {
    background-color: var(--light-green) !important;
}

.btn.primary {
    background-color: var(--dark-brown) !important;
    border-color: var(--dark-brown) !important;
    color: white !important;
}

.btn.secondary {
     background-color: var(--dark-gray) !important;
    border-color: var(--dark-gray) !important;
    color: white !important;
}


snack-bar-container {
    border-radius: 30px !important;
    background: var(--dark-brown) !important;
    color: white !important;
}

snack-bar-container .mat-button-wrapper {
    color: white !important;
}

/* Buttons */

button.btn {
    width: 100% !important;
    padding: 8px !important;
    border-radius: 30px !important;
}

button.btn:hover {
    cursor: pointer;
}

button.btn:focus {
    outline: none;
}

.flex {
    display: flex;
}

.flex.justify-content-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.full-width {
    width: 100%;
}

.mat-form-field {
    border-radius: 30px;
}

.mat-form-field-flex {
    border-radius: 30px !important;
    padding-left: 30px !important;
}

.mat-form-field-underline {
    display: none;
}

.mat-radio-button.mat-accent 
.mat-radio-inner-circle, 
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), 
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, 
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: var(--dark-brown);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--dark-brown);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: var(--dark-brown);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #bd9f79a4;
}

mat-dialog-container {
    border-radius: 30px !important;
}