<section class="profile">
    <div *ngIf="user" class="form">
        <div class="first-name">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>First Name</mat-label>
                <input [(ngModel)]="user.firstName" matInput>
            </mat-form-field>
        </div>
        <div class="last-name">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input [(ngModel)]="user.lastName" matInput>
            </mat-form-field>
        </div>
        <div class="email">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Email</mat-label>
                <input [(ngModel)]="user.email" type="email" matInput>
            </mat-form-field>
        </div>
        <div class="cellphone">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Cellphone</mat-label>
                <input [(ngModel)]="user.cellphone" type="tel" matInput>
            </mat-form-field>
        </div>
        <div class="update-button mb-2">
            <button (click)="updateUser()" class="btn primary" mat-raised-button>Update Account</button>
        </div>
        <div class="update-button">
            <button class="btn secondary" mat-raised-button>Update Password</button>
        </div>
    </div>
</section>