<section class="profile">
    <div class="form">
        <div class="first-name">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="last-name">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="email">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput>
            </mat-form-field>
        </div>
        <div class="cellphone">
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Cellphone</mat-label>
                <input type="tel" matInput>
            </mat-form-field>
        </div>
        <div class="update-button mb-2">
            <button class="btn" mat-raised-button color="primary">Update Account</button>
        </div>
        <div class="update-button">
            <button class="btn" mat-raised-button color="accent">Update Password</button>
        </div>
    </div>
</section>