.box-item {
    position: relative;
    margin-bottom: 45px;
    background-color: var(--dark-green);
    border-radius: 30px;
    color: white;
}

.box-item img {
    position: absolute;
    width: 65px;
    top: -30px;
    left: 5px;
}

.box-item-content {
    margin-left: 50px;
}

.box-item-details {
    width: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 30px;
    padding: 15px 30px;
}

.box-item-details h4,
.box-item-details p {
    margin-bottom: 0 !important;
}


@media screen and (max-width: 600px) {

    .box-item img {
        position: absolute;
        width: 35px;
        top: -5px;
        left: 5px;
    }

    .box-item-content {
        margin-left: 20px;
    }
    .box-item-content h4 {
        font-size: 16px !important;
    }
    .box-item-content p {
        font-size: 10px !important;
    }
    .box-item-price h4 {
        font-size: 16px !important;
    }
}