main {
    padding: 5rem;
}

@media screen and (max-width: 950px) {
    .search {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 2rem !important;
    }
}

