<main>
    <header class="flex flex-wrap justify-content-between align-center">
        <div>
            <h1><b>Discover</b> Roastery Coffee </h1>
        </div>
        <mat-form-field class="search" appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput>
        </mat-form-field>
    </header>
    <section>
        <div class="row">
            <app-coffee-list-item class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let coffee of coffees" (click)="selectCoffee(coffee)" [coffee]="coffee"></app-coffee-list-item>
        </div>
    </section>
</main>

<app-coffee-details [coffee]="selectedCoffee" (close)="selectCoffee($event)"></app-coffee-details>