<main>
    <header class="flex justify-content-between">
        <div>
            <h1> ☕️ Shop </h1>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput>
        </mat-form-field>
    </header>
    <section>
        <div class="flex flex-wrap">
            <app-coffee-list-item *ngFor="let coffee of coffees" (click)="selectCoffee(coffee)" [coffee]="coffee"></app-coffee-list-item>
        </div>
    </section>
</main>

<app-coffee-details [coffee]="selectedCoffee" (close)="selectCoffee($event)"></app-coffee-details>